body {
    margin: 0;
    padding: 0;
    background-color: #008749;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-container {
    text-align: center;
}

.redirect-logo {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
}

.redirect-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffc107;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.redirect-button:hover {
    background-color: white;
    color: #008749;
}